<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="title">{{t "gru-submit-confirmation.title"}}</h3>
    </div>
    <div class="panel-body">
        <span class="lead description">{{t 'gru-submit-confirmation.description'}}</span>
        <div class="actions">
            <button type="button" class="btn btn-success submit" {{action 'confirm'}}>{{t 'gru-submit-confirmation.confirm'}}</button>
        </div>
    </div>
</div>
