.qz-player-confirmation {
  max-width: 455px;

  .panel-heading {
    text-align: left;
  }

  .title {
    color: $white;
    font-size: 17px;
    margin: 0;
  }

  .panel-body {
    padding: 40px 40px 25px;
    div {
      display: block;
      width: 100%;
    }

    .info {
      @include flexbox;
      @include align-items(center);
      margin-top: 35px;

      > * {
        float: left;
      }

      p {
        line-height: 22px;
        margin: 0;
      }

      i {
        font-size: $font-size-h2;
        margin-right: 10px;
      }
    }

    .actions {
      margin-top: 15px;
      text-align: right;
      .back,
      .cancel {
        border: 1px solid $gray-light;
      }
    }
  }
}
