.player .qz-viewer {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  height: 100%;
  overflow-y: scroll;
  margin: 0 0 15px 15px;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  .qz-content {
    width: 100%;
    padding: 0;
    .avatar {
      text-align: center;
      padding-right: 15px;
      img {
        width: $narration-avatar-width;
        height: $narration-avatar-height;
        border-radius: $narration-avatar-height;
        margin: 0 auto;
        display: block;
      }
      .user {
        font-size: $font-size-small;
        display: block;
      }
    }
    .message {
      * {
        font-size: $font-size-base !important;
      }
    }
  }
  .qz-content.question {
    margin-top: 20px;
    height: auto;
  }
  .qz-content.resource {
    height: 85%;
  }
  .qz-resource-viewer-panel {
    .narration {
      margin-top: 20px;
    }
  }
}
