<p class="instructions">
  {{t "qz-fib.instructions" action=(t instructionsActionTextKey)}}
</p>

<div class="answer-panel">
  <div class="fib-answers">
    {{{gru-math-text text=answers}}}
  </div>
</div>
