.gru-two-tier-header-table {
  overflow-x: auto;
  position: relative;
  table {
    font-size: $font-size-h6;
    background: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
    border-top: 15px solid $dark-400;
    border-radius: 0 5px 0 0;
    border-collapse: inherit;
    margin-left: 120px;
    .fixed {
      width: 120px;
      position: absolute;
      left: 0;
    }

    th,
    td {
      border: none;
      height: 32px;
      padding: 0px 4px;
      font-weight: normal;
    }

    .first-tier,
    .second-tier {
      th,
      td {
        background-color: $dark-300;
        color: $white;
        border-color: $dark-400;
      }
    }

    > .first-tier {
      height: 32px;
      td,
      th {
        border-bottom: 1px solid $dark-200;
        &.fixed {
          border-top: 15px solid $dark-400;
          border-radius: 5px 0 0;
          border-collapse: inherit;
          height: 47px;
          top: 0;
        }
      }
      th {
        &:hover {
          cursor: pointer;
        }
      }
    }

    > .second-tier {
      height: 32px;

      th {
        line-height: 23px;
        &.reaction {
          min-width: 80px;
        }
        &.correct {
          min-width: 50px;
        }
        &.timeSpent {
          min-width: 62px;
        }

        > span {
          display: block;
          font-weight: normal;
          opacity: 0.6;
        }

        i.gru-icon {
          font-size: 13px;
        }
        i.gru-icon.arrow_upward,
        i.gru-icon.arrow_downward {
          display: none;
        }

        &.row-header {
          text-align: left;

          > span {
            width: auto;
          }
        }
        &:hover {
          cursor: pointer;
        }

        &.ascending {
          i.gru-icon.arrow_upward {
            display: inline-block;
          }
          i.gru-icon.arrow_downward,
          i.gru-icon.swap_vert {
            display: none;
          }
        }
        &.descending {
          i.gru-icon.arrow_downward {
            display: inline-block;
          }
          i.gru-icon.arrow_upward,
          i.gru-icon.swap_vert {
            display: none;
          }
        }
      }
    }

    > .data {
      th {
        border-left: 0;
        border-bottom: 1px solid $gray-lighter;
        font-weight: normal;
        &:hover {
          cursor: pointer;
        }
      }
      td {
        border-width: 0 0 1px 0;
        border-color: $gray-lighter;
        border-style: solid;
      }
    }
  }
}
