.reports.class-assessment.qz-summary {
  $chart-diameter: 82px;
  $small-chart-diameter: 4rem;

  padding: 20px 0 10px 0;

  .content {
    margin-bottom: 5px;
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    .overview {
      @include flexbox;
      @include justify-content(space-between);
      width: 100%;
      padding: 0;
      @media (min-width: $screen-sm-min) {
        width: 50%;
        padding: 0 15px 0 0;
      }
      @media (min-width: $screen-md-min) {
        width: 40%;
      }
      @media (min-width: $screen-lg-min) {
        width: 35%;
      }
      list-style: none;
      margin: 0 0 15px;
      overflow: hidden;
      float: left;
      border-right: 1px solid $gray-lighter;

      > li {
        width: 33.3%;
        height: 147px;
        text-align: center;
        display: inline-block;
        margin: 0 12px 0 0;
        background: $white;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        &.completion {
          margin: 0;
        }

        > div {
          height: $chart-diameter;
          width: $chart-diameter;
          margin: 20px auto 10px;
        }

        > span {
          display: block;
          margin-top: 8px;
        }
      }

      &.small {
        display: none;
      }
    }

    .qz-questions-summary {
      width: 60%;
      z-index: 1;
      flex: 1;
      background: $white;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
      border-radius: 5px;
      padding: 15px 20px 10px;
    }

    &.all-questions {
      .overview {
        display: none;
        padding: 0;
        margin: 0 15px 0 0;
        width: 268px;

        &.small.visible {
          display: block;
          background: $white;
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
          border-radius: 5px;
          font-size: inherit;

          > li {
            float: left;
            display: block;
            box-shadow: none;
            border-radius: inherit;
            height: auto;
            width: auto;
            margin: 0 12px 0 10px;

            > div {
              margin: 8px auto 0;
            }
            > span {
              margin: 0;
            }

            &:last-child {
              float: none;
              margin: 40px auto 0;
            }
          }
          .completion {
            float: right;
          }
        }
      }
      .qz-questions-summary {
        font-size: inherit;
        padding: 15px 28px;
        > li {
          margin: 0 23px 0 0;
        }
        .charts.gru-x-bar-chart {
          width: 6.12em;
        }
      }
    }
  }
  .grading-scale {
    display: table;
    height: 24px;
    span,
    ul {
      display: table-cell;
      vertical-align: middle;
    }
    span.average {
      padding: 0 18px 0 8px;
      white-space: nowrap;
      color: $gray-base;
      font-size: $font-size-h6;
    }
  }
}
